body {
    padding-top: 56px; /* Ajuste para la barra de navegación fija */
}

/* Puedes agregar más estilos personalizados aquí */
body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4 
    color  #444; 
} 
 
header { 
    background-color: #333; 
    color: #fff; 
    padding: 1em 0; 
    text-align: center; 
} 
 
nav { 
    background-color: #444; 
    color: #fff; 
    padding: 0.5em 0; 
} 
 
nav ul { 
    padding: 0; 
    list-style: none; 
    text-align: center; 
} 
 
nav li { 
    display: inline; 
    margin: 0 1em; 
} 
 
nav a { 
    color: #fff; 
    text-decoration: none; 
} 
 
section { 
    padding: 20px; 
    margin: 15px; 
    background-color: #fff; 
    border-radius: 8px; 
} 
 
footer { 
    text-align: center; 
    padding: 1em 0; 
background-color: #333; 
color: #fff; 
} 
/* Estilos del carrusel */ 
.carousel { 
width: 80%; 
margin: auto; 
overflow: hidden; 
position: relative; 
} 
.carousel-inner { 
display: flex; 
transition: transform 0.3s ease-in-out; 
} 
.carousel-item { 
flex: 0 0 60%; 
} 
.carousel-item img { 
width: 60%; 
height: auto; 
} 
.carousel-control { 
position: absolute; 
top: 30%; 
transform: translateY(-50%); 
background: rgba(0, 0, 0, 0.5); 
color: white; 
border: none; 
padding: 10px; 
cursor: pointer; 
font-size: 1.5em; 
} 
.carousel-control.prev { 
left: 0; 
} 
.carousel-control.next { 
right: 0; 
}